*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  font-family: "Open Sans";
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #404041;
  padding: 1%;
}

h1 {
  color: #dd1972;
  letter-spacing: 2px;
  font-size: 71px;
  font-weight: 800;
}

.subtitle-container {
  display:flex;
}

.line {
  border-bottom: 2px solid #FFFFFF;
  width: 120px;
  margin: 11px;
}

h3 {
  font-size: 25px;
}

h4 {
  color: #6E6E6E;
  font-size: 20px;
  letter-spacing: 1px;
}

.left-side-section {
  width: 50%;
  border: 1px solid grey;
}

.white-font {
  color: #FFFFFF;
}

.thin-text {
  font-weight: 100;
}

.latest-score-card-border {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  border: 1px solid #e8e8e8;
  width: 95%;
  margin: 5% 2%;
  padding: 1.5% 2%;
}

.latest-score-card {
  text-align: center;
  width: 49%;
}

.score-card-midline {
  border-left: 1px solid #e8e8e8;
}

.latest-score-header {
  color: #404041;
  display: block;
  width: 100%;
  font-size: 25px;
}
