*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #D1D2D4;
  font-family: "Open Sans";
}

header {
  align-items: center;
  background-color: #404041;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
}

h1 {
  color: #dd1972;
  font-size: 71px;
  font-weight: 800;
  letter-spacing: 2px;
}

.subtitle-container {
  display:flex;
}

.line {
  border-bottom: 2px solid #FFFFFF;
  margin: 11px;
  width: 120px;
}

h3 {
  color: #606060;
  font-size: 25px;
}

h4 {
  color: #6E6E6E;
  font-size: 20px;
  letter-spacing: 1px;
}

p {
  color: #737279;
}

.main-page-layout {
  display:flex;
  flex-direction: row-reverse;
}

/* player input side */
.left-side-section {
  background-color: #F7F7F7;
  border: 1px solid #AAAAAA;
  width: 50%;
}

.white-font {
  color: #FFFFFF;
}

.thin-text {
  font-weight: 100;
}

.latest-score-card-border {
  background-color: #FFFFFF;
  border: 1px solid #e8e8e8;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  margin: 4% 2%;
  padding: 1.5% 2%;
  width: 95%;
}

.latest-score-card {
  text-align: center;
  width: 49%;
}

.score-card-midline {
  border-left: 1px solid #e8e8e8;
}

.latest-score-header {
  color: #606060;
  display: block;
  font-size: 25px;
  width: 100%;
}

.set-range-section {
  background-color: #FFFFFF;
  border: 1px solid #e8e8e8;
  margin: 4% 2%;
  padding: 1.5% 2%;
  width: 95%;
}

.set-range-label-container {
  display: flex;
}

.set-range-label {
  display: flex;
  flex-direction: column;
  margin: 0% 5% 0% 0%;
  width: 34%;
}

.set-range-text {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: 30px;
  margin: 0 20px 0 0px;
  width: 232px;
}

.min-range-input {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: 42px;
  margin: 0 20px 5px 0;
  width: 100%;
}

.max-range-input {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: 42px;
  margin: 0 20px 5px 0;
  width: 100%;
}

.dark-button-small {
  align-self: flex-end;
  background-color: #6e6e6e;
  border-radius: 35px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  height: 42px;
  margin: 0 0 4px 0;
  text-align: center;
  width: 140px;
}

.dark-button {
  background-color: #6e6e6e;
  border-radius: 35px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  height: 42px;
  margin: 4% 0% 1%;
  text-align: center;
  width: 191px;
}

.dark-button:disabled {
  background-color: #D0D2D3;
}

.dark-button-large {
  background-color: #6e6e6e;
  border-radius: 35px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  height: 42px;
  margin: 4% 0% 1%;
  text-align: center;
  width: 210px;
}

.button-spacing {
  display: flex;
  justify-content: space-between;
}

.current-range-header {
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0 0 15px 0;
}

.challenger-title {
  margin: 15px 0% 0% 0%;
}

.min-number {
  font-weight: bolder;
  text-decoration: underline;
}

.max-number {
  font-weight: bolder;
  text-decoration: underline;
}

.current-range-section {
  background-color: #FFFFFF;
  border: 1px solid #e8e8e8;
  margin: 4% 2%;
  padding: 1.5% 2%;
  width: 95%;
}

.label-above-container {
  display: flex;
  margin: 5px 0 20px 0;
}

.label-above-big {
  display: flex;
  flex-direction: column;
  margin: 0 3% 0 0;
  width: 68%;
}

.label-above {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.name-input-box {
  width: 200px;
}

label {
  color: #6E6E6E;
}

input {
  height: 42px;
  font-size: 18px;
}

/* Winner Card CSS */
.right-side-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.winner-card-border {
  background-color: #F7F7F7;
  border: 1px solid #404041;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 5% 0 0 0;
  padding: 1.5% 2%;
  width: 90%;
}

.bold-name {
  color: grey;
  font-weight: bold;
  word-spacing: 2em;
}

.center-title {
  color: grey;
  font-size: 8;
  padding-bottom: 7px;
  text-align: center;
  word-spacing: 1em;
}

.center-title-2 {
  color: grey;
  font-weight: 80;
  padding-bottom: 7px;
  text-align: center;
}

.winner-card-botom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: grey;
  border-top: solid;
  border-color: #D0D2D3;
  border-width: 1.5px;
  padding-top: 7px;
}

.above-border {
  border-top: solid;
  border-color: #D0D2D3;
  border-width: 1.5px;
  padding-top: 7px;
}

.score-card-close-button {
  height: 21px;
	font-size: 16px;
	color: #D0D2D3;
	background-color: #6E6E6E;
	border-radius: 50%;
  width: 20px;
}

.score-card-guesses {
  font-weight: bold;
}

.score-card-minutes {
  font-weight: bold;
}

.score-card-button {
  height: 20px;
	font-size: 16px;
	color: #D0D2D3;
	background-color: #6E6E6E;
	border-radius: 50%;
  width: 20px;
}

.VS {
  font-size: 10px;
}

/* alert text */
.alert-img {
  height: 15px;
}

.alert-text,
.guess-alert-text-one,
.guess-alert-text-two {
  color: #DD1970;
}

/* media query section */
@media (max-width: 1000px) {
  .dark-button-large {
    background-color: #6e6e6e;
    color: #ffffff;
    border-radius: 35px;
    font-size: 15px;
    text-align: center;
    width: 210px;
    height: 42px;
    font-weight: 700;
    margin: 4% 0% 1%;
  }

  .dark-button {
    background-color: #6e6e6e;
    color: #ffffff;
    border-radius: 35px;
    font-size: 15px;
    text-align: center;
    width: 191px;
    height: 42px;
    font-weight: 700;
    margin: 4% 0% 1%;
  }

  .dark-button-small {
    background-color: #6e6e6e;
    color: #ffffff;
    border-radius: 35px;
    font-size: 15px;
    text-align: center;
    width: 140px;
    height: 42px;
    font-weight: 700;
    align-self: flex-end;
    margin: 0 0 4px 0;
  }
}

@media (max-width: 830px) {
  .main-page-layout {
    display:flex;
    flex-direction: column-reverse;
  }

  .left-side-section {
    width: 100%;
  }

  .right-side-container {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .left-side-section {
    width: 100%;
  }

  .right-side-container {
    width: 100%;
  }

  .set-range-label-container {
    display: flex;
    flex-direction: column;
  }

  .dark-button-small {
    background-color: #6e6e6e;
    color: #ffffff;
    border-radius: 35px;
    font-size: 19px;
    text-align: center;
    width: 23%;
    height: 42px;
    font-weight: 700;
    align-self: flex-start;
    margin: 10px 0 4px 0;
  }

  .set-range-label {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .current-range-header {
    font-size: 19px;
  }

  .label-above-container {
    display: block;
    margin: 5px 0 20px 0;
  }

  .label-above-big {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .label-above {
    width: 100%;
  }

  .button-spacing {
    flex-direction: column;
  }

  .dark-button-large {
    width: 100%;
    margin: 4% 0% 1%;
    font-size: 20px;
  }

  .dark-button {
    width: 100%;
    margin: 4% 0% 1%;
    font-size: 20px;
  }

  .latest-score-card {
    width: 100%;
    margin: 1% 0 4%;
  }

  h4 {
    font-size: 25px;
  }

  .latest-score-header {
    font-size: 36px;
  }

  h1 {
    font-size: 45px;
  }

  .guess-number-1 {
    font-size: 160px;
  }

  .challenger-one-reply {
    border-bottom: solid 1px #e8e8e8;
  }

  .guess-number-2 {
    font-size: 160px;
  }

  .score-card-midline {
    border-left: none;
  }

  label {
    font-size: 18px;
  }

  .white-font {
    font-size: 16px;
  }

  .line {
    width: 75px;
  }
}

@media (max-width: 465px) {
  h1 {
    font-size: 31px;
  }

  .white-font {
    font-size: 10px;
  }

  .line {
    width: 58px;
    margin: 7px;
  }

  .dark-button-small {
    font-size: 13px;
  }
